@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Http.Connections.Client
@using System.Net.Http;
@inject NavigationManager Navigation
@inject HttpClient HttpClient
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h2>@QuestionText</h2>


<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>

<hr>

<div id="messagesList">
    @foreach (var message in messages)
    {
        <div class="messages">
        <p>@message</p>
        </div>
    }
</div>
